<?xml version="1.0.1" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Author" value="Karolko"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=DELLG15;Initial Catalog=TSP2025;Integrated Security=True;Trust Server Certificate=True"/>
  </connectionStrings>
</configuration>